.layer{
  width: 100%;
  background: linear-gradient(55deg, rgb(31, 37, 54) 60%, rgba(255, 255, 255, 0.164) 200%);
}

/* reate new account (cna) */
.cna:after{
  position: absolute;
  content: '.';
  color: rgb(99 102 241);
}