.bar{
  position: absolute;
  height: 120px;
  width: 5px;
  background-color: rgb(68, 68, 68);
  border-radius: 9999px;
  top: 50%;
  transform: translateX(-30px);
}
.wraper{
  transition: 0.7s linear;
}
.custom{
  width: 0;
  padding: 0;
  transition: 0.7s linear;
}
